<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:500.700"
    />
    <link rel="stylesheet" href="/style.css" />
    <!--Google Adsence-->
    <script data-ad-client="ca-pub-5275574079376570" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-173001988-1"
    >
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-173001988-1");
    </script>
  </head>
  <body bgcolor="BLACK" text="RED">
    <!-- partial:index.partial.html -->
    <H1 class="title">Open Source Code - Hacktoberfest 2020</H1>

    <div id="app" class="container">
      <card
        data-image="https://raw.githubusercontent.com/aryasoni98/aryasoni98.github.io/master/img/aryasoni.jpg"
        data-github="aryasoni98"
      >
        <H1 slot="header">Arya Soni</H1>
        <p slot="content">Netaji Subhas University of Technology</p>
      </card>

      {{ range (where .Site.RegularPages "Section" "participant") }}
      <card
        data-github="{{ .Params.github }}"
        data-image="/images/{{ .Params.image }}"
      >
        <H1 slot="header">
          {{ .Params.name }}
        </H1>
        <p slot="content">
          {{ .Params.institution }}
        </p>
      </card>
      {{ end }}
    </div>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js">
    </script>
    <script src="/script.js">
    </script>
  </body>
</html>
